.card {
  padding: 2em;
}

.readTheDocs {
  color: #888;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Основной контейнер для десктопной версии */
.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 176px);
}

/* Контент для основной части страницы на десктопах */
.mainContent {
  width: 100%;
  min-height: calc(100vh - 176px);
}

/* Основной контейнер для мобильной версии */
.mainContainerMobile {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 81px);
}

.innerContainer {
  width: 100%;
}

.containerNavigation {
  display: flex;
  flex-direction: row;
}

.mobileMain {
  display: flex;
  flex-direction: column;
}
